<div class="row">
  <!-- SIDE MENU -->
  <div class="sideMenu">
    <!-- LOGO -->
    <img src="assets/images/logo.svg" class="mx-auto d-block logo" alt="logo">

    <nav>
      <!-- d-inline-block -->
      <ul class="sm sm-clean list-group flex-column first-menu">
        <li class="first-menu-item active">
          <a href="#">
            <img src="assets/images/apps.svg" class="rounded mx-auto d-block" alt="...">
          </a>
        </li>
        <li class="first-menu-item"><a href="#"><i class="fas fa-user"></i></a>
        </li>

        <li class="first-menu-item"><a href="#"><i class="fa fa-book"></i></a>
          <ul class="list-group flex-column d-inline-block submenu">
            <li class="title">
              <h3>الخدمات التدريبية</h3>
            </li>
            <li class="list"><a href="#"><i class="fas fa-calendar-alt"></i>جدولي</a></li>
            <li class="list"><a href="#"><i class="fas fa-user-minus"></i>غياباتي</a></li>
            <li class="list"><a href="#"><i class="fas fa-graduation-cap"></i>نتائجي</a></li>
            <li class="list"><a href="#"><i class="fa fa-book"></i>برامجي</a></li>
            <li class="list"><a href="#"><i class="fas fa-briefcase"></i>التدريب العملي</a></li>
            <li class="list"><a href="#"><i class="fa fa-book"></i>الأنشطة الامنهجية</a></li>
            <li class="list"><a href="#"><i class="fa fa-book"></i>تقييم البرامج</a></li>
            <li class="list"><a href="#"><i class="fa fa-book"></i>الكادر التدريبي</a></li>

          </ul>
        </li>

        <li class="first-menu-item"><a href="#"> <i class="fas fa-chalkboard-teacher"></i></a>
          <ul class="list-group flex-column d-inline-block submenu">
            <li class="title">
              <h3>الخدمات العامة</h3>
            </li>
            <!-- LOGOsdl -->
            <li class="list"><a href="#"><img src="assets/images/iconsdl.svg" class="icon rounded mx-auto d-block" alt="...">المكتبة الرقمية</a></li>
            <li class="list"><a href="#"><i class="fa fa-book"></i>الاستعارة من المكتبة</a></li>
            <li class="list"><a href="#"><i class="fa fa-book"></i>خطاب التعريف</a></li>
            <li class="list"><a href="#"><i class="fa fa-book"></i>تخفيض القطار</a></li>
            <li class="list"><a href="#"><i class="fa fa-book"></i>الاستمارة الصحية</a></li>
            <li class="list"><a href="#"><i class="fa fa-book"></i>إخلاء طرف</a></li>
          </ul>
        </li>

        <li class="first-menu-item"><a href="#"> <i class="fa fa-info-circle"></i></a>
          <ul class="list-group flex-column d-inline-block submenu">
            <li class="title">
              <h3>الخدمات المساعدة</h3>
            </li>
            <li class="list"><a href="#"><i class="fa fa-book"></i>دليل المستخدم</a></li>
            <li class="list"><a href="#"><i class="fa fa-book"></i>دليل الدارس</a></li>
            <li class="list"><a href="#"><i class="fa fa-book"></i>الدعم الفني</a></li>
          </ul>
        </li>


      </ul>
    </nav>

  </div>


  <!-- CONTENT -->
  <div class="content">
    <!-- header -->
    <div class="row">
      <div class="container-fluid">
      <nav class="navbar navbar-defult align-middle navbar-expand-sm">
        <span class="navbar-brand">بوابة التدريب</span>
        <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">
          
        <li class="">
          <a href="#" class="nav-link imgIcon">
            <img src="assets/images/BB.png" class="" alt="...">
          </a>
        </li>

        <li>
          <a href="#" class="nav-link">
            <!-- <i class="far fa-envelope"></i> -->
            <img src="assets/images/email.svg" class="" alt="...">

          </a>
        </li>


          <li class="">
            <!-- <a href="#" class="nav-link"><i class="far fa-power-off"></i></a> -->
            <a href="#" class="nav-link">
              <img src="assets/images/turn-off.svg" class="" alt="...">
            </a>

            </li>
       </ul>

      </nav>
</div>
    </div>

    <!-- main -->
      <div class="container-fluid main">


       <p>yesssssssssssssssssssssssssss</p>




      </div>
  </div>

</div>
<!-- footer -->
<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-2"> جميع الحقوق محفوظة©
    <a href="https://www.ipa.edu.sa/ar-sa/Pages/default.aspx" target="_blank">معهد الإدارة العامة 2020 </a>
  </div>
</footer>